streamlit
git+https://github.com/openai/whisper.git

torch
scikit-learn
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
pandas
scipy
textblob
